.navExtension {
  display: flex;
  height: 5%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  position: sticky;
  background-color: white;
}

.searchCart {
  display: flex;
  height: 40px;
  align-items: center;
  margin-right: 2%;
}
.bag {
  height: 20px;
}

.logo2 {
  margin-left: 2%;
}

.extensionLinks {
  display: flex;
  justify-content: space-around;
  width: 400px;
  font-size: small;
  font-weight: 700;
  margin-left: 8%;
}

.searchNav {
  background-color: rgba(245, 245, 245, 255);
  margin-right: 2%;
  border: none;
  height: 25px;
  border-radius: 30px;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}
